* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

nav {
    padding: 1rem 3em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}


nav img {
    width: 60px;
}

nav a {
    color: #FFF;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Top and Bottom borders go out */
nav.topBotomBordersOut a:before,
nav.topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

nav.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}

nav.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

nav.topBotomBordersOut a:hover:before,
nav.topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/* Circle behind */
nav.circleBehind a:before,
nav.circleBehind a:after {
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid rgba(128, 128, 128, 0.5);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

nav.circleBehind a:after {
    border-width: 2px;
    transition: all 0.4s;
}

nav.circleBehind a:hover:before {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

nav.circleBehind a:hover:after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/* Pull down  */
nav.pullDown a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

nav.pullDown a:hover:before {
    height: 100%;
}

/* Hamburger */
.col {
	display: none;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.hamburger .line{
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger {
    width: max-content;
    scale: 0.7;
}

.hamburger:hover{
    cursor: pointer;
}

#hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;  
    -o-transform-origin: 50% 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform-origin: 50% 50%;
    transform: rotate(45deg);
  }
  
  #hamburger-6.is-active .line:nth-child(2){
      width: 0px;
  }
  
  #hamburger-6.is-active .line:nth-child(1),
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  #hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  }
  
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
  }
  

@media screen and (max-width: 960px) {
    nav div.right {
        display: none;
    }

    nav .col {
        display: block;
    }
}