* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: #000000db;
    overflow-x: hidden;
    width: 100vw;
}

nav {
    padding: 1rem 2em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

nav img {
    width: 60px;
}

nav a {
    color: #FFF;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Top and Bottom borders go out */
nav.topBotomBordersOut a:before,
nav.topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

nav.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}

nav.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

nav.topBotomBordersOut a:hover:before,
nav.topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

header div.menu {
    display: none;
    flex-direction: column;
    height: calc(100vh - 60px);
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: #e1e1e1;
    padding: 4rem 2rem;
    width: 105vw;
    box-shadow: 0 0 25px white;
    border-radius: 25px 0 0 25px;
    transform: translateX(110%);
    transition: transform 0.3s linear;
}

header div.menu a {
    color: black;
    text-decoration: underline;
}

header div.menu-visible {
    transform: translateX(0);
}

/* Circle behind */
nav.circleBehind a:before,
nav.circleBehind a:after {
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid rgba(128, 128, 128, 0.5);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

nav.circleBehind a:after {
    border-width: 2px;
    transition: all 0.4s;
}

nav.circleBehind a:hover:before {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

nav.circleBehind a:hover:after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/* Pull down  */
nav.pullDown a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

nav.pullDown a:hover:before {
    height: 100%;
}

/* Hamburger */
.hamburger {
    scale: 0.8;
}

.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger-6.is-active{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2){
  width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

/* //HHHHHAAAAARRRRRSSSSSHHHHHH */

#hero-background {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(30%);
}

section.hero h1 {
    font-size: 5rem;
    margin: auto;
}

section.hero h2 {
    font-size: 4rem;
    margin: auto;
}

section.hero div.Introclass_heading {
    height: inherit;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 960px) {
    nav div.right {
        display: none;
    }

    nav .col {
        display: block;
    }

    header div.menu {
        display: none;
        position: fixed;
    }

    section.hero h1 {
        font-size: 80px;
    }

    section.hero h2 {
        font-size: 80px;
    }
}